@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,
::after,
::before {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h3 {
    font-size: 1.2375rem;
    color: black;
}

a {
    cursor: pointer;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

li {
    list-style: none;
    margin-top: 5%;
}

/* Layout skeleton */
.wrapper {
    align-items: stretch;
    display: flex;
    width: 100%;
    height: 100vh;
}

#sidebar {
    background-color: #343a40;
    max-width: 264px;
    min-width: 264px;
    transition: all 0.35s ease-in-out;
    box-shadow: 0 0 35px 0 rgba(49, 57, 66, 0.5);
    z-index: 1111;
    overflow-y: auto;
}

/* Sidebar collapse */
#sidebar.collapsed {
    margin-left: -264px;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow: scroll;
    transition: all 0.35s ease-in-out;
}

.sidebar-logo {
    padding: 1.15rem 1.5rem;
}

.sidebar-logo a {
    color: rgb(230, 224, 224);
    font-size: 1.25rem;
    font-weight: 600;
}

.sidebar-nav {
    margin-top: 10%;
    padding: 0;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: rgb(230, 224, 224);
    position: relative;
    display: block;
    font-size: 1rem;
}

.sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

.sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

.content {
    flex: 1;
    max-width: 100vw;
    width: 100vw;
}


#navRightMenus {
    margin-left: auto;
}

.nest-item {
    margin-left: 10%;
}

/* Responsive */

@media (min-width:768px) {
    .content {
        width: auto;
    }
}

@media (max-width:768px) {
    .content {
        width: auto;
    }

    #sidebar {
        min-width: 200px;
        max-width: 200px;
    }

    #sidebar a {
        font-size: 15px;
    }

    #sidebar.collapsed {
        margin-left: -200px;
    }
}

#sideBarMenus a:hover {
    font-size: 17px;
    margin: 4px 2px;
    transition: 0.2s;
    text-decoration: none;
}

.sidebar-logo a:hover {
    text-decoration: none;
}


/* -------Scrollbar--------- */
::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

textarea {
    resize: none;
}

/* Fold/Unfold */

#toggleButton {
    outline: none;
    box-shadow: none;
    border: none;
    font-size: small;
    background-color: transparent;
    color: rgb(10, 83, 240);
}
/* 

@keyframes easeOutElastic {
    0% {
        height: translateY(100%);
    }

    100% {
        height: translateY(0%);
    }
}

#inputContainer {
    animation: easeOutElastic 0.5s forwards;
} */